{% extends "index.html" %}
{%block content %}

<div class="parallax-container center valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 white-text">
          <!-- <h3 class="white-text">Contact us for all of your handyman needs</h3> -->
          <h3>{{message}}</h3>
          <a class=" btn-large  #f57c00 orange darken-2" data-position="bottom" href={{url_for('quote')}}
            data-tooltip="Click me to get a quote!">Request a Quote</a>
        </div>
      </div>
    </div>
<div class="parallax">
    <img src="../static/tools3.jpg">
</div>
</div>


<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4><u>Done Right By Rob LLC</u></h4>
                <p>Fox Valley's trusted handyman</p>
                <div class="w"></div>
                <p class="left-align light"> </p>
                <br>
                <p class="left-align light">Rob has been in the field since the 1990s. He had several years of success
                    as a
                    landscaper. When the
                    market crashed, Rob started rehabbing homes and turning them into rentals. He still maintain several
                    rentals but has found his passion is helping homeowners by offering his services with
                    professionalism
                    and compassion at reasonable prices.</p>
            </div>
        </div>

    </div>
</div>

<div class="container">
    <!--   Icon Section   -->
    <div class="row">
        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">handyman</i></h2>
                <h5 class="center">Trusted Experties</h5>

                <p class="light">Done Right By Rob LLC is committed to excellence in every aspect of our business.
                    Accurate knowledge of our trade combined with ability is
                    what makes us true professionals.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">group</i></h2>
                <h5 class="center">Customer Focused</h5>

                <p class="light">We uphold a standard of integrity bound by fairness, honesty, and personal
                    responsibility.
                    Our distinction is the quality of service we bring to our customers. Above all, we are watchful of
                    our
                    customers' interests and make their
                    concerns the basis of our business.</p>
            </div>
        </div>

        <div class="col s12 m4">
            <div class="icon-block">
                <h2 class="center brown-text"><i class="material-icons">emoji_people</i></h2>
                <h5 class="center">Easy to work with</h5>

                <p class="light">You can count on Done Right By Rob LLC to provide transparent, timely and fair quoting
                    of all
                    work. No games, No gimmicks. We can provide you with many reasonable solutions for your next
                    project. You'll
                    find that our pricing is extremely competitive.</p>
            </div>
        </div>
    </div>

</div>
<!-- </div> -->

<div class="parallax-container center valign-wrapper">
    <div class="container">
        <div class="row">
            <div class="col s12 white-text">
                <!-- <h3 class="white-text">Contact us for all of your handyman needs</h3> -->
                <h3>We offer a variety of services</h3>
            </div>
        </div>
    </div>

    <div class="parallax">
        <img src="/static/tools3.jpg">
    </div>

</div>

<div class="row">
    <!-- <div class="cards-container"> -->
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/gutter.jpg">
            <!-- <span class="card-title">Gutter Cleaning</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">Gutter Cleaning</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/powerwash.jpeg">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">Power Washing</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/painting.jpg">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">Painting</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/stain.jpg">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">Deck-Fence Staining</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <!-- <span class="card-title">Card Title</span> -->
            <img src="/static/floor.jpg">
        </div>
        <div class="card-action">
            <p class="black-text">Floor Installation</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <!-- <span class="card-title">Card Title</span> -->
            <img src="/static/tile.jpg">
        </div>
        <div class="card-action">
            <p class="black-text">Tile Work</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <!-- <span class="card-title">Card Title</span> -->
            <img src="/static/drywall.jpg">
        </div>
        <div class="card-action">
            <p class="black-text">Drywall Repair</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/counter.jpg">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">Cabinet-Counter</p>
        </div>
    </div>
    <div class="col s12 m4 card hover">
        <div class="card-image">
            <img src="/static/handyman.jpg">
            <!-- <span class="card-title">Card Title</span> -->
        </div>
        <div class="card-action">
            <p class="black-text">So much more...</p>
        </div>
    </div>
    <!-- </div> -->
</div>


<div class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center valign-wrapper">
                <h5 class="header col s12 light">Check out our project photos and read our testimonials!</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/tools3.jpg" alt="Unsplashed background img 3"></div>
</div>

{% endblock %}